body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #72bc87;
    color: #333;
    text-align: center;
  }
  
  header {
    background-color: #1b4449;
    color: #fbfefb;
    text-align: center;
    padding: 15px 0;
  }
  
  footer {
    background-color: #fe7171;
    color: #111010;
    text-align: center;
    padding: 1px ;
    position: center;
    bottom: 0;
    width: 100%;
  }
  
  .search-container {
    text-align: center;
    margin: 20px 0;
  }
  
  #searchInput {
    padding: 15px;
    width: 80%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #searchBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #searchBtn:hover {
    background-color: #0056b3;
  }
  
  .results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .meal {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .meal img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  .meal h2 {
    margin: 10px 0;
  }
  
  .show-all-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .show-all-btn button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .show-all-btn button:hover {
    background-color: #218838;
  }
  
  @media (min-width: 768px) {
    .meal {
      text-align: left;
    }
  
    .meal img {
      max-width: 150px;
    }
  }
  